<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Display Dates and Available Rooms</title>
</head>
<body>
<h2>Display Dates</h2>
<p>Start Date: <span th:text="${startDate}"></span></p>
<p>End Date: <span th:text="${endDate}"></span></p>

<h2>Available Rooms</h2>
<table>
  <thead>
  <tr>
    <th>Room ID</th>
    <th>Room Type</th>
    <th>Possible extra beds</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="room : ${availableRooms}">
    <td th:text="${room.id}"></td>
    <td th:text="${room.roomType}"></td>
    <td th:text="${room.size}"></td>
    <td><a th:href="@{/bookings/avaliblerooms/extrabeds/{id}(id=${room.id})}">Change booking details</a></td>
  </tr>

  </tbody>
</table>
</body>
</html>