<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1em;
            font-family: Arial, sans-serif;
            min-width: 400px;
        }
        table, th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th, td {
            background-color: #f2f2f2;
        }
        th {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h2>Booking Details</h2>
<table>
    <tr>
        <th>Check in</th>
        <td th:text="${checkIn} + ' (from 15:00)'"></td>

    </tr>
    <tr>
        <th>Check out</th>
        <td th:text="${checkOut} + ' (before 12:00)'"></td>
    </tr>
    <tr>
        <th>Room</th>
        <td th:text="${roomType} + ' room'"></td>
    </tr>
    <tr>
        <th>Nights</th>
        <td th:text="${nights}"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="${price} + '$'"></td>
    </tr>
</table>

<p>
    <img src="sample.png" th:src="|cid:${imageResourceName}|" />
</p>
<p>
    Regards, <br />
    <em>Booking@Backend2.com</em>
</p>
</body>
</html>