<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1em;
            font-family: Arial, sans-serif;
            min-width: 400px;
        }
        table, th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th, td {
            background-color: #f2f2f2;
        }
        th {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h2 id="headerId">Booking Details</h2>
<table>
    <tr>
        <th>Check in</th>
        <td>
            <span th:unless="${checkIn}">yyyy-mm-dd </span>
            <span th:if="${checkIn}" th:text="${checkIn}"></span> <span id="checkInTime">(from 15:00)</span>
        </td>
    </tr>
    <tr>
        <th>Check out</th>
        <td>
            <span th:unless="${checkOut}">yyyy-mm-dd </span>
            <span th:if="${checkOut}" th:text="${checkOut}"></span> <span id="checkOutTime">(from 12:00)</span>
        </td>
    </tr>
    <tr>
        <th>Room</th>
        <td>
            <span th:unless="${roomType}">Double or Single </span>
            <span th:if="${roomType}" th:text="${roomType}"></span> room
        </td>
    </tr>
    <tr>
        <th>Nights</th>
        <td>
            <span th:unless="${nights}">10</span>
            <span th:if="${nights}" th:text="${nights}"></span>
        </td>
    </tr>
    <tr>
        <th>Price</th>
        <td>
            <span th:unless="${price}">99.99</span>
            <span th:if="${price}" th:text="${price}"></span> <span id="currency">$</span>
        </td>
    </tr>
</table>

<p>
    <img src="sample.png" th:src="|cid:${imageResourceName}|" />
</p>
<p id="message">
    Regards, <br />
    <em id="bookingEmail">Booking@Backend2.com</em>
</p>
</body>
</html>