<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
</head>
<body>
    <h2>Edit Booking</h2>

    <!-- <p th:text="'Room Type: ' + ${Room}"></p> -->
    <form action="/bookings/avaliblerooms" method="post">
    <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate"><br><br>

        <label for="endDate">End Date:</label><br>
        <input type="date" id="endDate" name="endDate"><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
