<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glömt lösenord</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/index}">Home</a></button>
    </nav>
    <div>
        <h2 class="text-align-center">Glömt lösenord</h2>
        <hr class="divider">
        <form th:action="@{/forgot-password}" method="post" class="login-form">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" />
            </div>
            <div class="form-group">
                <button type="submit" class="book-button">Submit</button>
            </div>
        </form>
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>