<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${roomTitle}"></h2>
<div class="allBookings" th:unless="${#lists.isEmpty(allBookings)}">
    <table>
        <thead>
        <tr>
            <th>Customer</th>
            <th>Room Price</th>
            <th>Room Type</th>
            <th>Extra Beds</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Bookings  : ${allBookings}">
            <td th:text="${Bookings.customer.name}"></td>
            <td th:text="${Bookings.room.price}"></td>
            <td th:text="${Bookings.room.roomType}"></td>
            <td th:text="${Bookings.extraBeds}"></td>
            <td th:text="${Bookings.startDate}"></td>
            <td th:text="${Bookings.endDate}"></td>
            <td><a th:href="@{/bookings/deleteById/{id}(id=${Bookings.id})}">Delete</a></td>
            <td><a th:href="@{/bookings/edit/{id}(id=${Bookings.id})}">Edit booking</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>