<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${roomDetails}"></h2>
<div class="roomEvents" th:unless="${#lists.isEmpty(roomEvents)}">
    <table>
        <thead>
        <tr>
            <th>Time Stamp </th>
            <th>Type </th>
            <th>Cleaning by user </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="roomEvent : ${roomEvents}">
            <td th:text="${roomEvent.timeStamp}"> </td>
            <td th:text="${roomEvent.type}"> </td>
            <td th:text="${roomEvent.cleaningByUser}"> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>