<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${shipperTitle}"></h2>
<div class="allShippers" th:unless="${#lists.isEmpty(allShippers)}">
    <table>
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipper : ${allShippers}">
            <td th:text="${shipper.companyName}"></td>
            <td th:text="${shipper.contactName}"></td>
            <td th:text="${shipper.country}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>